*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
}
.Nav{
    width: 100%;
    background-color: rgb(193, 148, 235);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.li{
    list-style: none;
    margin: 1% 5%;
    color: white;
    font-size: 1.5rem;
}
a{
    color: white;
}
.menu{
    color: black;
    font-size: 1.5rem;
    margin: 3%;
}
