*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
}
.Nav{
    width: 100%;
    background-color: rgb(193, 148, 235);
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.li{
    list-style: none;
    margin: 3% 7%;
    color: white;
}
a{
    color: white;
}

.logo{
    width: 10%;
    margin: 2% 6%;
    border-radius: 10px;
}